@using Microsoft.AspNetCore.Components.Routing

<style>
    .bg-green{
        background-color: darkslategrey;
    }

    .bg-green:hover{
            background-color: #4f8585;
    }

    
</style>

<nav class="d-flex flex-column text-light" > 
    <span class="nav-link bg-green ">
        <NavLink class="text-light" href="generalinfo">Общая корпоративная информация</NavLink>
    </span>

    <span class="nav-link bg-green ">
        <NavLink class="text-light" href="personalmanag">Управление персоналом</NavLink>
    </span>

    <span class="nav-link bg-green ">
        <NavLink class="text-light" href="unilibrary">Единая Библиотека корпоративных данных</NavLink>
    </span>

    <span class="nav-link bg-green ">
        <NavLink class="text-light" href="legalsupport">Юридическое обеспечение деятельности</NavLink>
    </span>

    <span class="nav-link bg-green ">
        <NavLink class="text-light" href="srceenmanag">Экран управления проектами</NavLink>
    </span>

    <span class="nav-link bg-green">
        <NavLink class="text-light" href="nodescompany">Узлы структурных подразделений компании</NavLink>
    </span>

    <span class="nav-link bg-green ">
        <NavLink class="text-light" href="controls">Элементы управления</NavLink>
    </span>
</nav>

@code {

}
