@using Microsoft.AspNetCore.Components.Routing
<style>
    .sticky {
        position: sticky;
        top: 0;
        width: 100%
    }

    .circle {
        border-radius: 50%;
        background-color: white;
        height: 50px;
        width: 50px;
    }

    
</style>

<ul class="nav sticky row" style="list-style-type: none; background-color:darkslategrey">
    <li class="nav-item col-1 align-content-center">
        <NavLink href="generalinfo">
            <img src="/favicon.png" class="circle" alt="Alternate Text" />
        </NavLink>
    </li>
    <li class="nav-item col-8 align-content-center">
        <h2 class="text-light col-12">@App.IsPage</h2>
    </li>
    <li class="nav-item col-2 text-light align-content-center" >
        @if(userFIO != null)
        {
            <span class="">@userFIO</span>
        }
        else
        {
            <NavLink href="/auth">
                <button type="button" class="btn bg-light border-dark">Авторизация</button>
            </NavLink>
        }
    </li>
    <li class="nav-item col-1 align-content-center">
        <NavLink href="lc">
            <img src="/favicon.png" class="circle" alt="Alternate Text" />
        </NavLink>
    </li>
</ul>


@code {
    string userFIO;
    string ispage;

    protected override async Task OnInitializedAsync()
    {
        userFIO = App.EmployeeName;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        InvokeAsync(StateHasChanged);
    }
}
