<style>
    .sticky{
        position: sticky
    }

    .circle {
        border-radius: 50%;
        background-color:lightgreen;
        height: 2vw;
        width: 2 vw;
    }
</style>

<ul class="nav sticky row" style="list-style-type: none; background-color:darkslategrey">
    <li class="nav-item col-1">
        <span>Лого</span>
    </li>
    <li class="nav-item col-8">
        <input class="form-label" href="#" type="text">
    </li>
    <li class="nav-item col-2">
        <span class="">ФИО</span>
    </li>
    <li class="nav-item circle col-1">
        <span class="">фото</span>
    </li>
</ul>