<div class="row d-flex" style="background-color: blue">
    <div class="bg-light col-1" style="border-radius: 50%">
        <span>Лого</span>
    </div>
    <input class="form-label"/>
    <span class="">ФИО</span>
    <div class="bg-light col-1" style="border-radius: 50%">
        <span>Фото</span>
    </div>
</div>
